{$LUMPA_DOMAIN} {
  encode zstd gzip
  request_body {
    max_size 42MB
  }
  reverse_proxy gateway:8080 {
    health_uri /healthz
    health_interval 15s
    transport http {
      dial_timeout 5s
      response_header_timeout 135s
    }
  }
  header {
    Strict-Transport-Security "max-age=31536000; includeSubDomains; preload"
    X-Content-Type-Options "nosniff"
    Referrer-Policy "no-referrer"
    -Server
  }
  log {
    output stdout
    format json
  }
}
